@font-face {
  font-family: "Accord Alternate";
  src: url("../assets/fonts/AccordAltReg/AccordAltRegular.eot") format("embedded-opentype"), url("../assets/fontS/AccordAltReg/AccordAltRegular.woff2") format("woff2"), url("../assets/fonts/AccordAltReg/AccordAltRegular.woff") format("woff"), url("../assets/fonts/AccordAltReg/AccordAltRegular.otf") format("opentype"), url("../assets/fonts/AccordAltReg/AccordAltRegular.svg") format("svg");
  font-style: normal;
  font-weight: normal;
}
@font-face {
  font-family: "Accord Alternate Bold";
  src: url("../assets/fonts/AccordAltBold/AccordAltBold.eot") format("embedded-opentype"), url("../assets/fonts/AccordAltBold/AccordAltBold.woff2") format("woff2"), url("../assets/fonts/AccordAltBold/AccordAltBold.woff") format("woff"), url("../assets/fonts/AccordAltBold/AccordAltBold.otf") format("opentype"), url("../assets/fonts/AccordAltBold/AccordAltBold.svg") format("svg");
  font-style: normal;
  font-weight: bold;
}
@font-face {
  font-family: "Accord Alternate Extra Bold";
  src: url("../assets/fonts/AccordAltExtraBold/AccordAltExtraBold.eot") format("embedded-opentype"), url("../assets/fonts/AccordAltExtraBold/AccordAltExtraBold.woff2") format("woff2"), url("../assets/fonts/AccordAltExtraBold/AccordAltExtraBold.woff") format("woff"), url("../assets/fonts/AccordAltExtraBold/AccordAltExtraBold.otf") format("opentype"), url("../assets/fonts/AccordAltExtraBold/AccordAltExtraBold.svg") format("svg");
  font-style: normal;
  font-weight: 800;
}
@font-face {
  font-family: "Accord Alternate Medium";
  src: url("../assets/fonts/AccordAltMedium/AccordAltMedium.eot") format("embedded-opentype"), url("../assets/fonts/AccordAltMedium/AccordAltMedium.woff2") format("woff2"), url("../assets/fonts/AccordAltMedium/AccordAltMedium.woff") format("woff"), url("../assets/fonts/AccordAltMedium/AccordAltMedium.otf") format("opentype"), url("../assets/fonts/AccordAltMedium/AccordAltMedium.svg") format("svg");
  font-style: normal;
  font-weight: 500;
}
@font-face {
  font-family: "Accord Alternate Thin";
  src: url("../assets/fonts/AccordAltThin/AccordAltThin.eot") format("embedded-opentype"), url("../assets/fonts/AccordAltThin/AccordAltThin.woff2") format("woff2"), url("../assets/fonts/AccordAltThin/AccordAltThin.woff") format("woff"), url("../assets/fonts/AccordAltThin/AccordAltThin.otf") format("opentype"), url("../assets/fonts/AccordAltThin/AccordAltThin.svg") format("svg");
  font-style: normal;
  font-weight: 100;
}
@font-face {
  font-family: "Futura Condensed";
  src: url("../assets/fonts/FuturaCondensedExtraBold/FuturaCondXBold.eot") format("embedded-opentype"), url("../assets/fonts/FuturaCondensedExtraBold/FuturaCondXBold.woff2") format("woff2"), url("../assets/fonts/FuturaCondensedExtraBold/FuturaCondXBold.woff") format("woff"), url("../assets/fonts/FuturaCondensedExtraBold/FuturaCondensedExtraBold.ttf") format("truetype"), url("../assets/fonts/FuturaCondensedExtraBold/FuturaCondXBold.svg") format("svg");
  font-style: normal;
  font-weight: normal;
}
* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

img {
  max-width: 100%;
  vertical-align: middle;
}

body {
  color: #000000;
  font-family: "Accord Alternate", Arial, sans-serif;
}

h1, h2, h3 {
  font-family: "Futura Condensed", Arial, sans-serif;
}

h1.white, h4.white {
  color: #ffffff;
}

h1 {
  font-size: 2.375em;
  max-width: 6em;
}

h2 {
  color: #3a4d67;
  font-size: 2.5em;
  margin-bottom: 1.25rem;
}

h3 {
  color: #ffffff;
  font-size: 2.25em;
  margin-bottom: 0.5em;
}

h4 {
  font-family: "Accord Alternate Thin", Arial, sans-serif;
  font-size: 2em;
  margin-bottom: 0.75em;
  max-width: 7.125em;
}

h5 {
  font-family: "Accord Alternate Extra Bold", Arial, sans-serif;
  font-size: 1.25em;
  margin-bottom: 1.25rem;
}

p {
  margin-bottom: 1.25em;
}
p.lead-text {
  font-size: 1.25em;
  margin-bottom: 0;
  padding: 0.75em 0;
}

.larger {
  font-size: 1.25;
}

.capitalize {
  text-transform: capitalize;
}

.uppercase {
  text-transform: uppercase;
}

.align-center, .banner {
  text-align: center;
}

.site {
  min-width: 275px;
}

.text-container {
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
  margin: 0 auto;
  max-width: 1000px;
  padding: 0 4%;
}

.button-container {
  width: 100%;
}

.button {
  border-radius: 0.5em;
  color: #ffffff;
  display: inline-block;
  font-family: "Accord Alternate Medium", Arial, sans-serif;
  font-size: 1.25em;
  padding: 0.375em 0.875rem;
}

ul {
  font-family: "Accord Alternate Medium", Arial, sans-serif;
  margin-bottom: 1.25em;
}
ul li {
  margin-bottom: 0.25em;
}
ul li:last-child {
  margin-bottom: 0;
}

.desktop {
  display: none;
}

.header-hero {
  overflow: hidden;
  position: relative;
}

.hero-image.mobile--visible {
  display: block;
}
.hero-image.mobile--hidden {
  display: none;
}
.hero-image.desktop--visible {
  display: block;
  max-width: none;
  position: absolute;
}
.hero-image.desktop--visible.normal-screen {
  bottom: 0;
  height: 100%;
  left: auto;
  max-width: none;
  position: absolute;
  right: 50%;
  top: 0;
  -webkit-transform: translate(50%, 0);
  -moz-transform: translate(50%, 0);
  -ms-transform: translate(50%, 0);
  -o-transform: translate(50%, 0);
  transform: translate(50%, 0);
  width: auto;
}
.hero-image.desktop--visible.wide-screen {
  bottom: auto;
  height: auto;
  left: 0;
  max-width: none;
  position: absolute;
  right: 0;
  top: 50%;
  -webkit-transform: translate(0, -50%);
  -moz-transform: translate(0, -50%);
  -ms-transform: translate(0, -50%);
  -o-transform: translate(0, -50%);
  transform: translate(0, -50%);
  width: 100%;
}
.hero-image.desktop--hidden {
  display: none;
}

.headline-container {
  left: 0;
  position: absolute;
  right: 0;
  top: 42%;
  -webkit-transform: translate(0, -50%);
  -moz-transform: translate(0, -50%);
  -ms-transform: translate(0, -50%);
  -o-transform: translate(0, -50%);
  transform: translate(0, -50%);
}

.colour-button {
  cursor: pointer;
  position: absolute;
  right: 1em;
  top: 1em;
}
.colour-button.peach {
  color: #ffaf8a;
}

section {
  padding: 1em 0;
}

.description-container .image-container {
  margin-bottom: 1.25em;
}

.shoe-showcase.greyhound h2 {
  color: #087ba1;
}
.shoe-showcase.greyhound .button {
  background-color: #087ba1;
}
.shoe-showcase.enroute {
  background-color: #f4f4f4;
}
.shoe-showcase.enroute h2 {
  color: #dd423d;
}
.shoe-showcase.enroute .button {
  background-color: #dd423d;
}
.shoe-showcase.speed h2 {
  color: #17b4d1;
}
.shoe-showcase.speed .button {
  background-color: #17b4d1;
}
.shoe-showcase.elements h2 {
  color: #f87e59;
}
.shoe-showcase.elements .button {
  background-color: #f87e59;
}
.shoe-showcase.trail {
  background-color: #f4f4f4;
}
.shoe-showcase.trail h2 {
  color: #52cade;
}
.shoe-showcase.trail .button {
  background-color: #52cade;
}

.banner--mountains {
  background-color: #f4f4f4;
  margin: 0.5em 0;
  padding: 0.5em 0;
}
.banner--mountains h2 {
  margin: 0 auto;
  max-width: 13.25em;
  padding: 1.25em 0 0.75em;
  position: relative;
}

.banner--runner .overlay {
  left: 0;
  position: absolute;
  right: 0;
  top: 50%;
  -webkit-transform: translate(0, -50%);
  -moz-transform: translate(0, -50%);
  -ms-transform: translate(0, -50%);
  -o-transform: translate(0, -50%);
  transform: translate(0, -50%);
}

.banner__inner {
  overflow: hidden;
  position: relative;
}

.mountains {
  bottom: 0;
  height: 100%;
  left: 50%;
  max-width: none;
  position: absolute;
  top: 0;
  -webkit-transform: translate(-50%, 0);
  -moz-transform: translate(-50%, 0);
  -ms-transform: translate(-50%, 0);
  -o-transform: translate(-50%, 0);
  transform: translate(-50%, 0);
  width: auto;
  z-index: 0;
}

.logo--small {
  max-width: 205px;
  width: 45%;
}
.logo--large {
  max-width: 315px;
  width: 75%;
}
.logo--footer {
  max-width: 260px;
  width: 65%;
}

.banner--shoes .image-container {
  display: inline-block;
  vertical-align: middle;
  width: 25%;
}
.banner--shoes .image-container:first-of-type {
  padding-right: 7%;
}
.banner--shoes .image-container:nth-of-type(2) {
  padding-left: 3%;
  padding-right: 5%;
}
.banner--shoes .image-container:nth-of-type(3) {
  padding-left: 5%;
  padding-right: 3%;
}
.banner--shoes .image-container:nth-of-type(4) {
  padding-left: 7%;
}

.banner--elements .image-container {
  display: inline-block;
  vertical-align: middle;
}
.banner--elements .image-container:first-of-type {
  padding-right: 1em;
  text-align: left;
  width: 25%;
}
.banner--elements .image-container:first-of-type img {
  max-width: 140px;
  width: 100%;
}
.banner--elements .image-container:nth-of-type(2) {
  padding: 0 0.5em;
  text-align: center;
  width: 50%;
}
.banner--elements .image-container:nth-of-type(2) img {
  max-width: 280px;
  width: 100%;
}
.banner--elements .image-container:nth-of-type(3) {
  padding-left: 1em;
  text-align: right;
  width: 25%;
}
.banner--elements .image-container:nth-of-type(3) img {
  max-width: 140px;
  width: 100%;
}

.banner--trail .image-container {
  display: inline-block;
  vertical-align: middle;
}
.banner--trail .image-container:first-of-type {
  padding-right: 1em;
  width: 33.3%;
}
.banner--trail .image-container:nth-of-type(2) {
  padding-left: 1em;
  width: 66.6%;
}

footer {
  background-color: #f4f4f4;
}
footer section {
  padding: 0.5em 0;
}
footer p {
  font-size: 1.125em;
  padding: 3.25em 0 0;
  position: relative;
}
footer .logo {
  padding: 0.5em 0 1.5em;
  position: relative;
}

@media screen and (min-width: 435px) {
  h1 {
    font-size: 2.875em;
  }

  h2 {
    font-size: 2.625em;
  }

  h3 {
    font-size: 2.375em;
  }

  h4 {
    font-size: 2.5em;
  }

  h5 {
    font-size: 1.375em;
  }

  .button {
    font-size: 1.375em;
  }
}
@media screen and (min-width: 29.5625em) {
  h3 {
    margin-bottom: 1.25em;
  }
}
@media screen and (min-width: 575px) {
  h1 {
    max-width: 11em;
  }

  h4 {
    max-width: 13.0625em;
  }

  .mobile {
    display: none;
  }

  .desktop {
    display: block;
  }

  .shoe-showcase .left, .shoe-showcase .right {
    display: inline-block;
    vertical-align: top;
    width: 50%;
  }
  .shoe-showcase .left {
    padding-right: 0.5em;
    text-align: left;
  }
  .shoe-showcase .right {
    padding-left: 0.5em;
    text-align: right;
  }
  .shoe-showcase .left__inner, .shoe-showcase .right__inner {
    display: inline-block;
    max-width: 475px;
    text-align: left;
    vertical-align: top;
    width: 100%;
  }

  .banner--runner .banner__inner {
    height: 255px;
  }
  .banner--runner .desktop {
    bottom: 0;
    height: 100%;
    max-width: none;
    position: absolute;
    right: 0;
    top: 0;
    width: auto;
  }

  .banner--elements .image-container {
    display: inline-block;
    vertical-align: middle;
  }
  .banner--elements .image-container:first-of-type {
    padding-right: 1em;
    text-align: left;
    width: 25%;
  }
  .banner--elements .image-container:first-of-type img {
    max-width: 140px;
    width: 100%;
  }
  .banner--elements .image-container:nth-of-type(2) {
    padding: 0 0.5em;
    text-align: center;
    width: 50%;
  }
  .banner--elements .image-container:nth-of-type(2) img {
    max-width: 280px;
    width: 100%;
  }
  .banner--elements .image-container:nth-of-type(3) {
    padding-left: 1em;
    text-align: right;
    width: 25%;
  }
  .banner--elements .image-container:nth-of-type(3) img {
    max-width: 140px;
    width: 100%;
  }
}
@media screen and (min-width: 665px) {
  .banner--trail .image-container {
    display: inline-block;
    text-align: center;
    vertical-align: middle;
  }
  .banner--trail .image-container:first-of-type {
    padding-right: 1em;
    width: 50%;
  }
  .banner--trail .image-container:first-of-type img {
    max-width: 185px;
    width: 50%;
  }
  .banner--trail .image-container:nth-of-type(2) {
    padding-left: 1em;
    width: 50%;
  }
  .banner--trail .image-container:nth-of-type(2) img {
    max-width: 370px;
    width: 100%;
  }
}
@media screen and (min-width: 850px) {
  section {
    padding: 2em 0;
  }
}
@media screen and (min-width: 1000px) {
  h1 {
    font-size: 3.75em;
  }

  h4 {
    font-size: 3.25em;
  }
}
@media screen and (min-width: 1245px) {
  .hero-image.desktop--visible.wide-screen {
    top: 44%;
  }
}
@media screen and (min-width: 1295px) {
  .banner--runner .banner__inner {
    height: auto;
  }
  .banner--runner .desktop {
    bottom: auto;
    height: auto;
    left: auto;
    position: static;
    right: auto;
    top: auto;
    width: 100%;
  }
}
@media screen and (min-width: 1400px) {
  .hero-image.desktop--visible.wide-screen {
    top: 40%;
  }
}

/*# sourceMappingURL=style.css.map */
